import(graph, Rgraphviz, stats)

importFrom("graphics", "par", "points", "rect", "strheight", "strwidth", "text")
importFrom("methods", "new")
importFrom("utils", "packageVersion")

export(
  "adapt",
  "add.edge",
  "add.node",
  "as.graph.RHuginDomain",
  "clone.domain",
  "clone.node",
  "compile",
  "compile.RHuginDomain",
  "compress",
  "delete.edge",
  "delete.model",
  "delete.node",
  "delete.table",
  "generate.table",
  "get.approximation.constant",
  "get.belief",
  "get.cases",
  "get.children",
  "get.conflict",
  "get.dconnected.nodes",
  "get.distribution",
  "get.dseparated.nodes",
  "get.edges",
  "get.entropy",
  "get.finding",
  "get.marginal",
  "get.model",
  "get.nodes",
  "get.normalization.constant",
  "get.parents",
  "get.sensitivity",
  "get.states",
  "get.table",
  "get.utility",
  "get.value",
  "hugin.domain",
  "initialize.domain",
  "layoutRHugin",
  "learn.cpt",
  "learn.structure",
  "map.configurations",
  "plot.RHuginDomain",
  "propagate",
  "propagate.RHuginDomain",
  "read.cases",
  "read.rhd",
  "reset",
  "retract",
  "reverse.edge",
  "RHugin.control",
  "score",
  "set.cases",
  "set.finding",
  "set.logfile",
  "set.model",
  "set.states",
  "set.table",
  "simulate.RHuginDomain",
  "summary.RHuginDomain",
  "switch.parent",
  "triangulate",
  "triangulate.RHuginDomain",
  "uncompile",
  "write.cases",
  "write.rhd"
)

S3method(compile, RHuginDomain)
S3method(plot, RHuginDomain)
S3method(print, RHuginDomain)
S3method(propagate, RHuginDomain)
S3method(simulate, RHuginDomain)
S3method(summary, RHuginDomain)
S3method(triangulate, RHuginDomain)

S3method(print, RHugin.model)
S3method(print, summary.RHuginDomain)


